RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ app.php/$1 [QSA,L]

# supress php errors
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off

AddCharset UTF-8 *
