{% extends '::base.html.twig' %}

{% block title %}
 EDB Literature Page
{% endblock %}

{% block body %}

	<div class="marketing">
		<h2>List Literatures</h2>
		<br>
	</div>
<div class="row">
	<div class="offset1">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="span3">Code</th>
					<th class="span5">Description</th>
					<th class="span3">Notes</th>
				</tr>
			</thead>
			<tbody>
				{% for lit in literatures %}
					<tr>
						<td> {{ lit.id }}</td>	
						<td> {{ lit.description }}</td>
						<td> {{ lit.note }}</td>				
					</tr>
				{% endfor %}
			</tbody>
			
		</table>
	</div>
</div>
		
{% endblock %}
