<div class="modal hide" id="newConferenceModal">
	<div class="modal-header">
{# 		<button type="button" class="close" data-dismiss="modal">x</button>#}
		<h3>Add New Conference</h3>
	</div>
	<div class="modal-body">
		<p>
			<form class="form-horizontal" id="formNewConference" }}">
  				<fieldset>
      				<div id="div_conference_name" class="control-group">
      					<label style="text-align: left" class="control-label">Conference Title*</label>
						<div class="controls">
	      					<input type ="text" id = "conference_name" name="conference[name]" class = "span3" required="required">
	        			</div>
	        		</div>
					<div id="div_bibliography_editors_conf" class="row">
						<div class="span2">
							<label>Editor's Name</label> 
							<input type ="text" id="bibliography_editors_name_conf" class="span2" name="bibliography[editors_conf][name]">
						</div>
						<div class="span2">
							<label>Editor's Surname</label>
							<input type ="text" id="bibliography_editors_surname_conf" class="span2" name="bibliography[editors_conf][surname]">
						</div>
						<div class="span1">
							<p></p>
							<button class="btn btn-small btn-warning span1" type="button" id="addEditorToTableConf">Add</button>
						</div>
					</div>	
					
					<div id="div_bibliography_editors_conf_table" = class="row">
					<br>	
						<div class="span5">
							<table class="table table-condensed table-bordered" id="tableEditors_conf">
								<thead>
									<tr>
										<th class="span4">Name</th>
										<th class="span4">Surname</th>
										<th class="span2">Action</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<br>
					</div>		
	        		
	        		<div id="div_conference_city" class="control-group">
      					<label style="text-align: left" class="control-label">Conference City*</label>
						<div class="controls">
	      					<input type ="text" id = "conference_city" name="conference[city]" class = "span3" required="required">
	        			</div>
	        		</div>
	        		      		
	        		<div id="div_conference_date" class="control-group">
      					<label style="text-align: left" class="control-label">Conference Date*</label>
						<div class="controls">
	      					<input type ="text" id = "conference_date" name="conference[date]" class = "span3" required="required">
	        			</div>
	        		</div>
	        		
	        		<div id="div_conference_cityedition" class="control-group">
      					<label style="text-align: left" class="control-label">City of Edition*</label>
						<div class="controls">
	      					<input type ="text" id = "conference_cityedition" name="conference[cityedition]" class = "span3" required="required">
	        			</div>
	        		</div>
	        		
	        	    <div id="div_conference_yearedition" class="control-group">
      					<label style="text-align: left" class="control-label">Year of Edition*</label>
						<div class="controls">
	      					<input type ="text" id = "conference_year" name="conference[year]" class = "span1" required="required">
	        			</div>
	        		</div>
	        		
      				<div class="control-group">
      					<div class="controls">
      						<a id="addNewConference" class="btn btn-primary">Submit</a>
      					</div>
    				</div>
    				<div class="control-group success">
      					<div class="controls">
      						<p class="help-block" id="inputSuccess"></p>
      					</div>
    				</div>
  				</fieldset>
			</form>
		</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" id = "close_conf">Close</a>
	</div>
</div>