<div class="modal-large hide" style="width: 750px; margin: -100px 0 0 -375px;" id="viewSingleLiteratureModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
	</div>
	<div class="modal-body">
		<label id=reference></label>
	</div>
</div>