<div class="modal hide" id="newVolumeModal">
	<div class="modal-header">
		<h3>Add New Volume</h3>
	</div>
	<div class="modal-body">
		<p>
			<form class="form-horizontal" id="formNewVolume" }}">
  				<fieldset>
      				<div id="div_volume_name" class="control-group">
      					<label style="text-align: left" class="control-label">Volume Title*</label>
						<div class="controls">
	      					<input type ="text" id = "volume_name" name="volume[name]" class = "span3" required="required">
	        			</div>
	        		</div>
	        		<div id="div_bibliography_editors_vol" class="row">
						<div class="span2">
							<label>Editor's Name</label> 
							<input type ="text" id="bibliography_editors_name_vol" class="span2" name="bibliography[editors_vol][name]">
						</div>
						<div class="span2">
							<label>Editor's Surname</label>
							<input type ="text" id="bibliography_editors_surname_vol" class="span2" name="bibliography[editors_vol][surname]">
						</div>
						<div class="span1">
							<p></p>
							<button class="btn btn-small btn-warning span1" type="button" id="addEditorToTableVol">Add</button>
						</div>
					</div>	
					
					<div id="div_bibliography_editors_vol_table" = class="row">
					<br>	
						<div class="span5">
							<table class="table table-condensed table-bordered" id="tableEditors_vol">
								<thead>
									<tr>
										<th class="span4">Name</th>
										<th class="span4">Surname</th>
										<th class="span2">Action</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<br>
					</div>		
	        			        		
	        		<div id="div_volume_cityedition" class="control-group">
      					<label style="text-align: left" class="control-label">City of Edition*</label>
						<div class="controls">
	      					<input type ="text" id = "volume_cityedition" name="volume[cityedition]" class = "span3" required="required">
	        			</div>
	        		</div>
	        		
	        		<div id="div_volume_yearedition" class="control-group">
      					<label style="text-align: left" class="control-label">Year of Edition*</label>
						<div class="controls">
	      					<input type ="text" id = "volume_year" name="volume[year]" class = "span1" required="required">
	        			</div>
	        		</div>
	        		
      				<div class="control-group">
      					<div class="controls">
      						<a id="addNewVolume" class="btn btn-primary">Submit</a>
      					</div>
    				</div>
    				<div class="control-group success">
      					<div class="controls">
      						<p class="help-block" id="inputSuccess"></p>
      					</div>
    				</div>
  				</fieldset>
			</form>
		</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>