<div class="modal invisible modal-big" style="width: 750px; margin: -345px 0 0 -375px;" id="viewGeoPositionModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>View geographic position</h3>
	</div>
	<div class="modal-body">
		<p>
    	  <div id="map_canvas" ></div>
    	  <br />
    	  <div class="span6">
    	  	<label class="span2" >
    	  	Coordinates: 
    	  	</label>
    	  	<span id="map_geoPosition" value="" ></span>
		  </div>
		  <div class="span6">
		    <label class="span2" >
		    Address: 
		    </label>
		    <span id="map_address" ></span>
    	  </div>
    	  
		</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>