{% extends '::base.html.twig' %}

 {% block title %}
 EDB History Page
{% endblock %}

{% block body %}

<h1>Contatti</h1>
<br>
<div class="row show-grid">
	<div class="span12" style="text-align: left">
		<h3>Referenti scientifici</h3>
	</div>
</div>

<div class="row">
	<div class="span2">
		<ul class="thumbnails">
			<li class="span2"><a class="thumbnail"> <img
					src="http://placehold.it/160x120" alt="">
			</a>
			</li>
		</ul>
	</div>

	<div class="span3">
		<p><strong>Prof. Carlo Carletti</strong></p>
		<p>Dipartimento studi classici e cristiani</p>
		<p>Tel. +39 0805717912</p>
		<p>Email: <a href="mailto:c.carletti@dscc.uniba.it">c.carletti@dscc.uniba.it</a></p>
	</div>
	
	<div class="span2 offset2">
		<ul class="thumbnails">
			<li class="span2"><a class="thumbnail"> <img
					src="http://placehold.it/160x120" alt="">
			</a>
			</li>
		</ul>

	</div>
	
	<div class="span3">
		<p><strong>Prof. Antonio Enrico Felle</strong></p>
		<p>Dipartimento studi classici e cristiani</p>
		<p>Tel. +39 0805717904</p>
		<p>Email: <a href="mailto:ae.felle@dscc.uniba.it">ae.felle@dscc.uniba.it</a></p>
	</div>
	
</div>

<div class="row">
	<div class="span2">
		<ul class="thumbnails">
			<li class="span2"><a class="thumbnail"> <img
					src="http://placehold.it/160x120" alt="">
			</a>
			</li>
		</ul>
	</div>

	<div class="span3">
		<p><strong>Dott.ssa Anita Rocco</strong></p>
		<p>Dipartimento studi classici e cristiani</p>
		<p>Tel. -</p>
		<p>Email: <a href="mailto:"></a>-</p>
	</div>
	
</div>

<br>

<div class="row show-grid">
	<div class="span12" style="text-align: left">
		<h3>Referenti tecnici</h3>
	</div>
</div>

<div class="row">
	<div class="span2">
		<ul class="thumbnails">
			<li class="span2"><a class="thumbnail"> <img
					src="http://placehold.it/160x120" alt="">
			</a>
			</li>
		</ul>
	</div>

	<div class="span3">
		<p><strong>Dott. Fabio Fumarola</strong></p>
		<p>Dipartimento di Informatica</p>
		<p>Tel. +39 0805442299</p>
		<p>Email: <a href="mailto:fabio.fumarola@di.uniba.it">fabio.fumarola@di.uniba.it</a></p>
	</div>
	
	<div class="span2 offset2">
		<ul class="thumbnails">
			<li class="span2"><a class="thumbnail"> <img
					src="http://placehold.it/160x120" alt="">
			</a>
			</li>
		</ul>

	</div>
	
	<div class="span3">
		<p><strong>Michele Stolfa</strong></p>
		<p>Laureando presso Dipartimento di Informatica</p>
		<p>Tel. -</p>
		<p>Email: <a href="mailto:"></a>-</p>
	</div>
	
</div>

<div class="row">
	<div class="span2">
		<ul class="thumbnails">
			<li class="span2"><a class="thumbnail"> <img
					src="http://placehold.it/160x120" alt="">
			</a>
			</li>
		</ul>
	</div>

	<div class="span3">
		<p><strong>Vito Falco</strong></p>
		<p>Centro servizi informatici</p>
		<p>Tel. +39 0805714318</p>
		<p>Email: <a href="mailto:v.falco@ced-csi.uniba.it">v.falco@ced-csi.uniba.it</a></p>
	</div>
	
	<div class="span2 offset2">
		<ul class="thumbnails">
			<li class="span2"><a class="thumbnail"> <img
					src="http://placehold.it/160x120" alt="">
			</a>
			</li>
		</ul>

	</div>
	
	<div class="span3">
		<p><strong>Costantina Caruso</strong></p>
		<p>Dipartimento di Informatica</p>
		<p>Tel. +39 0805442308</p>
		<p>Email: <a href="mailto:caruso@di.uniba.it">caruso@di.uniba.it</a></p>
	</div>
	
</div>
	
{% endblock %}


