<div class="modal hide" id="modalNewFunction">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Add New Function</h3>
	</div>
	<div class="modal-body">
		<p>
			<form class="form-horizontal">
				<fieldset>
					<div id="divFunctionId" class="control-group">
						<label style="text-align: left" class="control-label">Id</label> 
						<div class="controls">
							<input id="inputFunctionId" type="text" 
								onchange="$('#divFunctionId').attr('class', 'control-group'); $('#errorValFunctionId').html(null)">
							<p class="help-block" id="errorValFunctionId"></p>
						</div>
					</div>
					<div id="divFunctionDesc" class="control-group">
						<label style="text-align: left" class="control-label">Description</label> 
						<div class="controls">
							<input id="inputFunctionDescription" type="text" 
								onchange="$('#divFunctionDesc').attr('class', 'control-group'); $('#errorValFunctionDesc').html(null)">
							<p class="help-block" id="errorValFunctionDesc"></p>
						</div>
					</div>
					<div class="control-group">
	      				<div class="controls">
							<a class="btn btn-primary" id="addFunction">Add</a>
						</div>
					</div>
				</fieldset>
			</form>
		</p>
		
	</div>
	
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
	
</div>