{% extends '::base.html.twig' %}

 {% block title %}
 EDB Home Page
{% endblock %}

{% block body %}

	<div class="marketing">
		<h2>Epigraph Detail</h2>
		<br>
	</div>
	<div class="row offset4 span4">
	{{ epigraph.id }}
	</div>
	<div class="row"></div> 		
{% endblock %}
