{% extends '::base.html.twig' %}

{% block title %}
 EDB Advanced Search
{% endblock %}

{% block body %}

	<div class="marketing">
		<h2>Advanced Search</h2>
		<br>
	</div>
	<div class="row">
		<div class="offset3 span8">
			<form class="form-horizontal" action="{{ path('edb_search_advanced')}}" method="post" {{ form_enctype(form) }}>		
			
				<fieldset>
				<div class="hero-unit">
					<h1>Not Yet Implemented</h1>
				</div>  
  				</fieldset>
			</form>
		</div>
	</div>
	
{% endblock %}

{% block javascripts %}
	
		{{ parent() }}	
		 <script src="{{ asset('js/basic-search.js') }}" type="text/javascript"></script>
{% endblock %}