{% extends '::base_reduct.html.twig' %}

 {% block title %}
 EDB History Page
{% endblock %}

{% block body %}

<div class = "row">
	<div class = "span8 offset2">
	<h3>Publications</h3>
	<p class = "text-justify">
	<br>
	<h4>Publications about EDB</h4>
		<ul>
			<li>F. Fumarola, G. Pio, A. E. Felle, D. Malerba, M. Ceci, <I>EDB: Knowledge technologies for ancient Greek and Latin epigraphy</I>, 
			IRCDL 2013, CCIS 385, pp. 29-40. Springer, Heidelberg (2014), ISSN: 1865-0929 
			<a href = "http://link.springer.com/chapter/10.1007%2F978-3-642-54347-0_4"><img width="20" src = {{ asset('img/iconDownload.jpg') }}></a> 
		</ul>

	
	<br><br>
	
	<h4>Publications exploiting EDB</h4>
	
	<h4>
	</div>
</div>


{% endblock %}


