{% extends '::base.html.twig' %}

 {% block title %}
 EDB History Page
{% endblock %}

{% block body %}

<h1>Links<a name="top"></a></h1><br>
<p> <strong>Ricerche bibliografiche </strong></p>
<ul>
  <li>  <a href="http://www.lib.uconn.edu/ArchNet">ArchNet - the World Wide Web Virtual Library for Archaeology </a></li>
  <li>    <a href="http://odur.let.rug.nl/arge/">ARGE - Archaeological Resource Guide for Europe: the WWW Virtual Library for European Archaeology </a></li>
  <li><a href="http://www.biblhertz.it/cgi-bin/gucha_it.pl">Biblioteca Hertziana - Ricerche bibliografiche </a></li>
  <li>    <a href="http://mw.urbe.it/cgi-bin/mwconfig?searchon=UCC">Biblioteche ecclesiastiche in Roma </a></li>
  <li>    <a href="http://www.bnf.fr/web-bnf/catalog/opale.htm">Biblioth&egrave;que Nationale de France (BN-OPALE) </a></li>
  <li>    <a href="http://www.bnf.fr/web-bnf/catalog/opaline.htm">Biblioth&egrave;que Nationale de France (BN-OPALINE) </a></li>
  <li><a href="http://cisadu2.let.uniroma1.it/biblioteca/index.htm">Catalogo della Biblioteca di informatica umanistica </a></li>
  <li>    <a href="http://www.uky.edu/cgi-bin/cgiwrap/~scaife/diobib?bibliography+and+http">Diotima's Bibliography </a></li>
  <li>    <a href="http://www.ils.doaks.org/uhtbin/cgisirsi/Fri+Aug+17+10:01:22+EDT+2001/0/49">Dumbarton Oaks [WebCat Gateway] </a></li>
  <li>    <a href="http://opac.sbn.it/cgi-bin/IccuForm.pl?form=WebFrame">ICCU Home Page </a></li>
  <li>    <a href="http://catalog.loc.gov/">Library of Congress Catalogs </a></li>
  <li>    <a href="http://lcweb.loc.gov/global/classics/classics.html">Library of Congress Resources for Greek and Latin Classics </a></li>
  <li>    <a href="http://userpage.fu-berlin.de/~antike/fmi/antike/Bibliographie.html">Neue Forschungen zur Sp&auml;tantike - Bibliographie (1990-2000) </a></li>
  <li>    <a href="http://www.nipissingu.ca/department/history/muhlberger/orb/biblios.htm">On Line Bibliographies of Late Antiquity </a></li>
  <li>    <a href="http://www.hbz-nrw.de/produkte_dienstl/toolbox/opac.html">OPAC: Repertorio Internazionale </a></li>
  <li>    <a href="http://dmoz.org/Reference/Libraries/Directories">Open Directory Project </a></li>
  <li>    <a href="http://orb.rhodes.edu/bibliographies/rome_bib.html">ORB Bibliographies: Rome </a></li>
  <li>    <a href="http://pci.unige.it/">PCI: Home Page </a></li>
  <li>    <a href="http://www.aib.it/aib/lis/opac1.htm">Ricerche bibliografiche in Italia </a></li>
  <li>    <a href="telnet://librs6k.vatlib.it/">Unione Romana Biblioteche Scientifiche (URBS- Telnet) </a></li>
  <li>    <a href="http://www-urbs.vatlib.it/">Unione Romana Biblioteche Scientifiche (URBS- Internet) </a></li>
  <li>    <a href="http://biblio.unigre.it/">Universit&agrave; Pontificia Gregoriana </a></li>
  <li>    <a href="http://www.ups.urbe.it:4001/ALEPH">Universit&agrave; Pontificia Salesiana </a></li>
  <li><a href="http://vlib.org/InformationManagement.html">Virtual Library</a><br>
  <em><br>
  <li><em>Periodici </em></li>
  <li><a href="http://www.aph.cnrs.fr/AnTardWEB/AnTard.html"> Antiquit&eacute; Tardive </a></li>
  <li>      <a href="http://intarch.ac.uk/antiquity.html">Antiquity </a></li>
  <li>      <a href="http://www.cisi.unito.it/arachne/arachne.html">Arachnion </a></li>
  <li>      <a href="http://www.uky.edu/ArtsSciences/Classics/biblio/anrw.html">Aufstieg und Niedergang der R&ouml;mischen Welt </a></li>
  <li>      <a href="http://ccat.sas.upenn.edu/bmcr">Bryn Mawr Classical Review </a></li>
  <li>      <a href="http://bcs.filtr.ucl.ac.be/FE/folia.html">Folia Electronica Classica </a></li>
  <li>      <a href="http://www.forum-classicum.de/">Forum Classicum </a></li>
  <li>      <a href="http://www.gfa.d-r.de/">G&ouml;ttinger Forum f&uuml;r Altertumswissenschaft </a></li>
  <li>      <a href="http://www.dur.ac.uk/Classics/histos">Histos </a></li>
  <li>      <a href="http://www.antike-und-christentum.de/">Jahrbuch f&uuml;r Antike und Christentum </a></li>
  <li>      <a href="http://www.pegasus-onlinezeitschrift.de/">Pegasus </a></li>
  <li>      <a href="http://www.plekos.uni-muenchen.de/">Plekos </a></li>
  <li>      <a href="http://www.classics.und.ac.za/scholia/default.html">Scholia </a></li>
  <li>      <a href="http://www.uni-koeln.de/phil-fak/ifa/zpe/indices/frame.html">Zeitschrift f&uuml;r Papyrologie und Epigraphik </a>
  </li>
                              </li>
</ul>
<p><a name="indagini on line"></a><strong>Strumenti di indagine </strong>
<ul>
  <li>  <em>Orientamento generale, novit&agrave; e aggiornamenti </em></li>
  <li><a href="http://www.ub.uni-konstanz.de/fi/arc/gsalt.htm">Alte Geschichte </a></li>
  <li>    <a href="http://www.ub.uni-konstanz.de/fi/ant/internet.htm">Altertumswissenschaft im Internet </a></li>
  <li>    <a href="http://argos.evansville.edu/">ARGOS </a></li>
  <li>    <a href="http://www.fusl.ac.be/Files/General/BCS/Bib.html">Bibliotheca Classica Selecta </a></li>
  <li>    <a href="http://www.fordham.edu/halsall/byzantium/">Byzantium: The Byzantine Studies Page </a></li>
  <li>    <a href="http://www.doaks.org/etexts.html">Dumbarton Oaks Electronic Texts </a></li>
  <li>    <a href="http://www.pomoerium.com/">Classics Resources </a></li>
  <li>    <a href="http://www.tlg.uci.edu/~tlg/">Electronic Resources for Classicists </a></li>
  <li>    <a href="http://www.roman-emperors.org/indexxxx.htm">Encyclopedia of Roman Emperors </a></li>
  <li>    <a href="http://www.stolaf.edu/people/kchanson/grstud.html">Greco-Roman Studies &amp; Social Sciences </a></li>
  <li>    <a href="http://rmcisadu.let.uniroma1.it/camplani/internet.html">Iniziative di Informatica Umanistica su Internet </a></li>
  <li>    <a href="http://www.indiana.edu/~Kglowack/internet.html">Internet Resources for Classical Studies </a></li>
  <li>    <a href="http://www.sms.org/mdl-indx/internet.html">Internet Resources for Classics </a></li>
  <li>    <a href="http://www.uky.edu/ArtsSciences/Classics/latinitas.html">Kentucky Classics </a></li>
  <li>    <a href="http://www.phil.uni-erlangen.de/~p2latein/ressourc/ressourc.html">Kirke </a></li>
  <li>    <a href="http://www.perseus.tufts.edu/">Perseus Project </a></li>
  <li>    <a href="http://www.rassegna.unibo.it/index.html">Rassegna Strumenti informatici per l'Antichit&agrave; Classica </a></li>
  <li>    <a href="http://www.ukans.edu/history/index/europe/ancient_rome/E/Roman/RomanSites*/home.html">RomanSites - Gateway to 1,620 Websites on Ancient Rome </a><a href="http://www.ukans.edu/history/index/europe/ancient_rome/E/HELP/New/Roman/RomanSites.html#3Mar99">New Website Reports on RomanSites </a></li>
  <li>    <a href="http://www.antica.unibo.it/struminf/intro.html">Strumenti informatici per lo studio della storia antica </a></li>
  <li>    <a href="http://132.236.125.30/JMM/ICE_ICK_top.html">The Infimae Aetatis Page </a></li>
  <li>    <a href="http://odyssey.lib.duke.edu/papyrus/texts/clist.html">Papirologia: documenti su Internet </a><br>
  </li>
  <li>  <em>Geografia e cartografia: atlanti e mappe <a href="http://www.geocities.com/Athens/Acropolis/6200/">    </a></em></li>
  <li><a href="http://www.geocities.com/Athens/Acropolis/6200/">Atlas Historique de l'Antiquit&eacute; Tardive </a></li>
  <li>    <a href="http://www.unc.edu/depts/cl_atlas/">Atlas of the Greek and Roman World </a></li>
  <li>    <a href="http://www.henry-davis.com/MAPS/Ancient%20Web%20Pages/AncientL.html">Index of Cartographic Images Illustrating Maps from the Ancient Period: 6,200 B.C. to 400 A.D. </a></li>
  <li>    <a href="http://www.henry-davis.com/MAPS/EMwebpages/EML.html">Index of Cartographic Images Illustrating Maps of the Early Medieval Period: 400-1300 A.D. </a></li>
  <li>    <a href="http://iam.classics.unc.edu/index.html">Interactive Ancient Mediterranean </a></li>
  <li>    <a href="http://www.ukans.edu/history/index/europe/ancient_rome/E/Gazetteer/Maps/Periods/Roman/home.html">Lacus Curtius - Roman Atlas </a></li>
  <li>    <a href="http://www.dalton.org/groups/rome/RMaps.html">Maps of the Roman Empire </a></li>
  <li>    <a href="http://www.salve.edu/~romanemp/Index.htm">Periodical Historical Atlas </a></li>
  <li>    <a href="http://www.sc.edu/ltantsoc/geogmain.htm">The Geography of Roman Gaul </a><br>
  </li>
  <li>  <em>Utilit&agrave; </em></li>
  <li><a href="http://asgle.classics.unc.edu/abbrev/latin/">    Abbreviations in Latin Inscriptions </a></li>
  <li>    <a href="http://www.jiffycomp.com/smr/unicode/">Greek Font to Unicode Converter </a></li>
  <li>    <a href="http://www.cisi.unito.it/arachne/num1/lana.html">Lana: Strumenti informatici per le Lingue Classiche </a></li>
  <li>    <a href="http://smaug.java.utoronto.ca/~brucerob/JAGSort/">Per l'ordinamento alfabetico automatico di documenti in greco </a>  </li>
</ul>
<p>    <a name="testi"></a><strong>Testi </strong>
<ul>
  <li>  <em>Fonti e documenti </em></li>
  <li><a href="http://www.flr-augsburg.de/~harsch/augustana.html">Bibliotheca Augustana </a></li>
  <li>    <a href="http://polyglot.lss.wisc.edu/classics/biblio.htm">Bibliotheca Latina </a></li>
  <li>    <a href="http://etext.lib.virgina.edu/latin.html">Electronic Text Center </a></li>
  <li>    <a href="http://www.fordham.edu/halsall/ancient/asbook10.html">Internet Ancient History Sourcebook: Late Antiquity </a></li>
  <li>    <a href="http://www.fordham.edu/halsall/ancient/asbook.html">Internet Ancient History Sourcebook: Main Page </a></li>
  <li>    <a href="http://patriot.net/~lillard/cp/latlib.html">Latin Library </a></li>
  <li>    <a href="http://www.fordham.edu/halsall/sbook.html">Medieval Sourcebook </a></li>
  <li>    <a href="http://sunsite.berkeley.edu/OMACL">Online Medieval and Classical Library </a></li>
  <li>    <a href="http://www.perseus.tufts.edu/Texts/latin_TOC.html">Perseus Latin Texts </a></li>
  <li>    <a href="http://ccat.sas.upenn.edu/~romulus/">Romulus Project </a></li>
  <li>    <a href="http://www.stoa.org/sol/">Suda on line</a>
    <br>
</li>
  <li>
  <em>Bibbia, Storia del cristianesimo, Patristica </em></li>
  <li><a href="http://www.bible.org/">Biblical Studies Foundation </a></li>
  <li>    <a href="http://patriot.net/~lillard/cp/christian.html">Christian Latin </a></li>
  <li>    <a href="http://www.gmu.edu/departments/fld/CLASSICS/theod.html">Codex Theodosianus </a></li>
  <li>    <a href="http://www.doaks.org/etexts.html">Dumbarton Oaks Electronic Texts </a></li>
  <li>    <a href="http://www.iclnet.org/pub/resources/christian-history.html/">Guide to Early Church Documents </a></li>
  <li>    <a href="http://ccat.sas.upenn.edu/rs/texts.html">Religious Texts and Resources-Dept. of Religious Studies, University of Pennsylvania </a></li>
  <li>    <a href="http://www.torreys.org/bible/">Resource Pages for Biblical Studies </a></li>
  <li>    <a href="http://estragon.uchicago.edu/Bibles/VULGATE.form.html">Vulgata: motore di ricerca </a><br>
  </li>
  <li>  <em>Epigrafia </em></li>
  <li><em><a href="http://www-db.ku-eichstaett.de:8080/pls/epigr/epigraphik">    Banca dati epigrafica di Frankfurt (Clauss) </a></em></li>
  <li>    <em><a href="http://www.uni-heidelberg.de/institute/sonst/adw/edh/recherchen.html.en">Banca dati epigrafica di Heidelberg (Ann&eacute;e &Eacute;pigraphique) </a></em></li>
  <li>    <em><a href="http://www.cdromverlag.de/CGI-sd4/om_isapi.dll?clientID=177030&infobase=igeyst.nfo&softpage=Browse_Frame_Pg42">Inscriptiones Graecae Eystettenses </a></em></li>
  <li>    <em><a href="http://www.ilateyst.de/CGI-sd4/om_isapi.dll?clientID=177023&infobase=ilateyst.nfo&softpage=Browse_Frame_Pg42">Inscriptiones Latinae Eystettentes </a></em></li>
  <li>    <em><a href="http://www.cdromverlag.de/ILS/">Inscriptiones Latinae Selectae (Eichstatt) </a></em></li>
  <li>    <em><a href="http://www.iath.virginia.edu/mls4n/home.html">Inscriptions from the Land of Israel </a></em></li>
  <li>    <em><a href="http://rubens.anu.edu.au/new/IRT/">Inscriptions of Roman Tripolitania </a></em></li>
  <li>    <em><a href="http://www.kfunigraz.ac.at/agawww/Instrumenta/oberoesterreich/">Instrumentum Domesticum Austriae Superioris </a></em></li>
  <li>    <em><a href="http://132.236.125.30/JMM/ICE_ICK_top.html">The Infimae Aetatis Page (ICE-ICK) </a></em></li>
  <li>    <em><a href="http://www.bedoyere.freeserve.co.uk/INSCRIPTIONS.HTM">The Roman Inscriptions of Britain</a><br>
  </em></li>
  <li>    <em>Papirologia </em></li>
  <li><a href="http://www.columbia.edu/dlc/apis/">Advanced Papyrological Information System (APIS)</a></li>
</ul>
<p><a name="istituzioni"></a><strong>Istituzioni e Associazioni </strong>
<ul>
  <li><em>Istituzioni </em></li>
  <li><a href="http://www.aarome.org/">American Academy in Rome </a><a href="http://www.biblhertz.it/">Bibliotheca Hertziana </a></li>
  <li>    <a href="http://www.bsr.ac.uk/">British School at Rome </a><a href="http://www.csad.ox.ac.uk/CSAD/">Centre for the Study of Ancient Documents (Oxford) </a><a href="http://www.cisam.org/">Centro di Studi sull'Alto Medioevo di Spoleto </a><a href="http://www.dainst.de/inhalt.html">Deutsches</a></li>
  <li><a href="http://www.dainst.de/inhalt.html">Arch&auml;ologisches Institut </a><a href="http://www.dainst.de/en/abt/rom.html">Deutsches Arch&auml;ologisches Institut (Rom) </a><a href="http://www.doaks.org/Byzantine.html">Dumbarton Oaks (Byzantine) </a><a href="http://www.ecole-francaise.it/">&Eacute;cole Fran&ccedil;aise de Rome </a><a href="http://www.antike-und-christentum.de/">Franz-Joseph</a></li>
  <li><a href="http://www.antike-und-christentum.de/">D&ouml;lger Institut (Bonn) </a><a href="http://www.murst.it/">MIUR </a><a href="http://www.piac.it/">Pontificio Istituto di Archeologia Cristiana </a><a href="file:///C:/Documenti/Antonio/Web/universitates.html">Universit&agrave; in Italia </a><br>
  </li>
  <li>  <em>Associazioni </em></li>
  <li><a href="http://www.aclclassics.org/">American Classical League </a><a href="http://asgle.classics.unc.edu/">American Society of Greek and Latin Epigraphy </a><a href="http://www.uni-koeln.de/phil-fak/ifa/altg/eck/aiegl.html">Associazione Internazionale per l'Epigrafia Greca e Latina </a></li>
  <li><a href="http://www.uni-koeln.de/phil-fak/ifa/altg/eck/aiegl.html">A.I.E.G.L.) </a><a href="http://www.csad.ox.ac.uk/BES/">British Epigraphy Society </a><a href="http://www.uniud.it/www/isr/welcome.htm">Italian Studies On Religions - Home Page </a><a href="http://www.sc.edu/ltantsoc/">Society for Late Antiquity </a>
  </li></ul>

{% endblock %}


