{% extends '::base_reduct.html.twig' %}

 {% block title %}
 EDB Home Page
{% endblock %}

{% block body %}
<br>
<div class = "row">
	<div class = "span2"></div>
	<div class = "span8"><img src = {{asset('img/SfondoHome.png') }}></div>
	<div class = "span2"></div>
</div>
<div class = "row">
	<div class = "span2"></div>
	<div class = "span9"></div>
	<div class = "span1">
		<a href="https://www.facebook.com/EDBUniba"><img src = {{asset('img/FB_logo.png') }} width = "29"></a>
		<a href="https://twitter.com/EdbUniba"><img src = {{asset('img/TWITTER_logo.png') }} width = "29"></a>
	</div>
</div>
{% endblock %}


