{% extends '::base_reduct.html.twig' %}

 {% block title %}
 EDB Home Page
{% endblock %}

{% block body %}
<br>
<div class = "row">
	<div class = "span2"></div>
	<div class = "span8"><img src = {{asset('img/SfondoHome.png') }}></div>
	<div class = "span2"></div>
</div>
{% endblock %}


