{% extends '::base.html.twig' %}

 {% block title %}
 EDB History Page
{% endblock %}

{% block body %}

<h1>Le prospettive</h1>
<p></p>
<p>Oltre
al completamento della informatizzazione del materiale ICVR, le future attivit&agrave;
dell'&nbsp;<b>EDB&nbsp;</b>prevedono:</p>
<ul>
	<li>gli aggiornamenti al&nbsp;<i>corpus&nbsp;</i>ICVR (come edizioni successive,
nuove letture e correzioni), condotto <i style='mso-bidi-font-style:normal'>in
primis</i> sulla base de <i style='mso-bidi-font-style:normal'>L'Ann&eacute;e
Epigraphique </i>e de <i style='mso-bidi-font-style:normal'>L'Ann&eacute;e
Philologique</i>;</li>

	<li>l'inserimento di iscrizioni cristiane di Roma non comprese nelle ICVR, d'intesa
con gli Enti preposti alla tutela e alla conservazione dei documenti, quale in
primo luogo la Pontificia Commissione di Archeologia Sacra, la Fabbrica di s.
Pietro, i Musei Vaticani;</li>

	<li>la costituzione di una parallela e collegata banca-dati di immagini digitali
dei documenti, sempre d'intesa con i medesimi Enti; &egrave; in corso la realizzazione
di una struttura permanente di coordinamento dinamico tra EDB e L'archivio
digitale delle immagini fotografiche della Pontificia Commissione di
Archeologia Sacra (SICRAS: dott.ssa Barbara Mazzei);</li>

	<li>la sperimentazione di un modello per un database pertinente ai materiali
epigrafici altomedievali e medievali d'Italia, in collegamento con l'avvio
del&nbsp;<i>corpus&nbsp;</i>delle&nbsp;<i>Inscriptiones Medi Aevi Italiae&nbsp;</i>(IMAI)
patrocinato dal Centro Italiano di Studi sull'Alto Medioevo di Spoleto (CISAM).</li>
</ul>


<h3>EDB 2.0</h3>

<p>
Dal 2009 ha avuto inizio una stabile collaborazione con il Dipartimento di
Informatica delL'Universit&agrave; degli Studi di Bari (prof. <a href="http://www.di.uniba.it/~malerba">Donato Malerba</a>, dott.ssa
<a href="http://www.di.uniba.it/~caruso">Costantina Caruso</a>, attuale responsabile tecnico-scientifico di EDB), che ha
comportato una rielaborazione nel sito di EDB delle modalit&agrave; della ricerca
(dott. Fabio Vitrugno) e una architettura della base di dati completamente
ridisegnata (dott. Sergio Daddato), che prevede la convertibilit&agrave; delle
trascrizioni -e non solo - dei dati di EDB secondo lo standard EpiDoc
(aggiornato al maggio 2010).</p>

<p>La
nuova versione sar&agrave; <i style='mso-bidi-font-style:normal'>on line</i> al pi&ugrave;
presto, si auspica - salvo imprevisti - dal novembre 2010. </p>

<p>
La nuova struttura di EDB 2.0 &egrave; funzionale alle prospettive di sviluppo della
banca dati, che dovr&agrave; andare oltre il riferimento unico alL'edizione ICVR (che
non vede nuovi incrementi dal 1992, ormai quasi un ventennio) per comprendere
in s&eacute; anche:</p>

<p>le
iscrizioni cristiane di Roma, di nuova acquisizione, non comprese nelle ICVR <i>nova series</i>;</p>

<p>gli
aggiornamenti e i nuovi dati relativi ai documenti gi&agrave; noti. </p>

<p>Conseguentemente,
oltre ad altre modifiche, come alcune relative alle indicazioni cronologiche, </p>

<ul>
	<li>si
&egrave; realizzata una tabella relativa alla conservazione di dati bibliografici
relativi ad edizioni e studi successivi o complementari ad ICVR;</li>

	<li>si
&egrave; rimodellata la parte del db relativa ai dati topografici, dal momento che la
documentazione in prospettiva sar&agrave; pertinente non solo a contesti catacombali,
ma anche ad edifici di culto ed altri spazi alL'interno delle mura urbane;</li>

	<li>si
&egrave; realizzata la convertibilit&agrave; in automatico -nelle trascrizioni dei testi
restituiti dalle ricerche- tra segni diacritici Krummrey-Panciera e standard
XML (EpiDoc), al fine di favorire L'integrazione di EDB con le altre
banche-dati (la versione di riferimento &egrave; aggiornata al maggio 2010);</li>

	<li>si
&egrave; sensibilmente ridotta la problematicit&agrave; per il greco, sia per la
alimentazione del DB sia per la ricerca di testi, con l'uso in EDB 2.0
del <i style='mso-bidi-font-style:normal'>freeware </i><a
href="http://users.ox.ac.uk/~tayl0010/polytonic-greek-inputter.html">Unicode
Classical Greek Inputter 2.0</a> realizzato
dal Dr. James D. Naughton (St. Edmund Hall, Oxford, UK) e che verr&agrave; completamente integrato in una fase successiva.</li>

</ul>


	
{% endblock %}


