{% extends '::base.html.twig' %}

 {% block title %}
 EDB History Page
{% endblock %}

{% block body %}
	<h1>La Storia</h1>
<p></p>

<p class="justified">Le iscrizioni urbane, latine e
    greche, di committenza cristiana sono in gran parte edite nei dieci volumi
    finora apparsi delle <em>Inscriptiones
        Christianae Vrbis Romae septimo saeculo antiquiores, nova series </em>(ICVR),
    promosse dal Pontificio Istituto di Archeologia Cristiana. Iniziata nel 1922 da
    A. Silvagni, l'opera &egrave; proseguita per oltre mezzo secolo per
    l'incessante attivit&agrave; di A. Ferrua S. I., al quale si devono i volumi
    II, III, IV, V, VI, VII, VIII; i successivi volumi IX e X sono stati curati da
    D. Mazzoleni (vol. IX e X) e C. Carletti (vol. X). Si tratta complessivamente
    di 27.668 numeri comprensivi in realt&agrave; di circa 45.000 iscrizioni: la
    pi&ugrave; ampia raccolta esistente di epigrafi cristiane che si avvia ormai
    alla definitiva conclusione con la compilazione del vol. XI (a cura di D.
    Mazzoleni), che comprender&agrave; le iscrizioni intramurane, le <em> falsae vel alienae  </em>e gli <em>indices.  </em> </p>

<p class="justified">A fronte di un dossier
    documentario cos&igrave; ingente per quantit&agrave; e variet&agrave;
    tipologica, emerse l'esigenza della realizzazione di un adeguato strumento di
    lavoro che ne consentisse una rapida e agevole utilizzazione. La via obbligata
    non poteva che essere quella della costituzione di una banca dati
    informatizzata, dalla quale ricavare - in prima istanza - un indice automatico
    basato sulla formula del <em>key-word-in-context
    </em>, gi&agrave; positivamente sperimentato per gli indici del CIL VI
    e, con esiti ancor pi&ugrave; convincenti e meglio definiti, per i <em>Carmina Latina Epigraphica </em>(curr.
    P. Colafrancesco - M. Massaro - R. Lamacchia, Bari 1986). </p>

<p class="justified">A soddisfare questa esigenza,
    nell'ambito del Dipartimento di Studi classici e cristiani
    dell'Universit&agrave; degli Studi di Bari, per iniziativa di C. Carletti, si
    avvi&ograve; il progetto di una banca dati informatizzata delle ICVR che, nel
    1988, fu presentata al Consiglio dei Professori del Pontificio Istituto di
    Archeologia Cristiana (istituzione promotrice delle ICVR), senza che ne
    seguisse, in termini operativi, un immediato positivo riscontro. Il progetto
    comunque prosegu&igrave;: sulla base di un programma di trattamento testi in
    ambiente MS-DOS elaborato dall' ing. O. Ceglie della casa editrice Edipuglia di
    Bari per le Concordanze dei CLE , si avviarono concretamente le immissioni dati
    e le prove delle elaborazioni incrociate. Apparvero subito evidenti e
    facilmente gestibili le notevoli potenzialit&agrave; operative del programma e,
    pertanto, sembr&ograve; opportuno presentarne succintamente la struttura e i
    primi risultati in occasione del VII Congresso Nazionale di Archeologia Cristiana
    (Cassino settembre 1993). Una definita presentazione dell'intero progetto,
    accompagnata da una serie di concrete esemplificazioni relative soprattutto
    alle molteplici possibilit&agrave; di elaborazioni incrociate, fu poi
    pubblicata nel 1994: C. Carletti, <em>Inscriptiones
        christianae urbis Romae, nova series </em>. <em>Una banca dati</em>, in <em>Vetera Christianorum </em>31, 1994, 357-368. </p>

<p class="justified">Per le iscrizioni in lingua e
    scrittura greca (ivi comprese le bilingui) l'immissione dati &egrave; stata
    realizzata da A. E. Felle tra il 1995 e il 1996; ne &egrave; seguita nel 1997
    la pubblicazione a stampa della relativa concordanza: <em> Inscriptiones Christianae Vrbis Romae,
        n.s. - Concordantiae verborum, nominum et imaginum. Tituli graeci</em>,
    (ICI, Subsidia, 3) comp. A. E. Felle, Edipuglia, Bari 1997. </p>

<p class="justified">Nel 1999 i promotori e gli
    operatori del progetto di informatizzazione delle ICVR del Dipartimento di
    Studi classici e cristiani dell'Universit&agrave; degli Studi di Bari hanno
    aderito al programma elaborato dalla Commissione Epigrafia e Informatica -
    presieduta da Silvio Panciera - della <em>Association
        Internationale d'Epigraphie Grecque et Latine </em>(AIEGL) cos&igrave;
    come definito in occasione della Tavola Rotonda su <em>&Eacute;pigraphie et Informatique (Roma, 28-29 maggio 1999)</em>,
    organizzata dall'Universit&agrave; di Roma - La Sapienza e dall'&Eacute;cole
    Fran&ccedil;aise de Rome sotto gli auspici della <em>Association Internationale d'&Eacute;pigraphie Grecque et
        Latine - Commission &Eacute;pigraphie et Informatique</em>, con la
    partecipazione di G. Alf&ouml;ldy (Heidelberg), A. Bresson (Bordeaux), C.
    Carletti (Bari), K. Clinton (Ithaca, N.Y.), C. Crowther (Oxford), I. Di Stefano
    Manzella (Viterbo), M. Dohnicht (Berlin), W. Eck (K&ouml;ln), A. E. Felle
    (Bari), M. Hainzmann (Graz), J. Jory (Nedlands, West Australia), J. Malitz
    (Eichstatt), S. Panciera (Roma), C. Zaccaria (Trieste). In questa circostanza si
    decise di adottare <em>fonts
        Unicode </em>per l'immissione dei testi: ci&ograve; comport&ograve;
    necessariamente una interruzione dell'attivit&agrave; di schedatura che, grazie
    alla riconversione di una <em>font
    </em>(denominata <em>Epigraph
    </em>) elaborato da A. Rocco, allora in versione sperimentale e quindi
    liberamente disponibile sul Web (<em>Code2000
    </em>: attualmente non pi&ugrave; <em>freeware</em>),
    fu poi ripresa a partire dal 2001. </p>

<p class="justified">Dal 2003, a conclusione del
    convegno&nbsp;<i>Dall'Orto Lapidario a Internet.</i> <em>Convegno Internazionale per la
        presentazione del progetto E.A.G.L.E. Electronic Archives of Greek and Latin
        Epigraphy - Archivi Elettronici per l'Epigrafia Greca e Latina. Un nuovo
        strumento per lo studio della storia antica </em>(Trieste-Aquileia, 14 -
    16 novembre 2003), il progetto di informatizzazione delle ICVR, giunto a
    comprendere oltre 25.000 documenti epigrafici, con il nome di <em>Epigraphic Database Bari </em>(EDB),
    &egrave; &quot;federato&quot; con l' <em>Epigrapische
        Datenbank Heidelberg </em>(EDH) e l' <em>Epigraphic
        Database Rome </em>(EDR), nel quadro del progetto EAGLE (<em>Electronic Archive for Greek and Latin
        Epigraphy</em>) sotto gli auspici dell' <em>Association Internationale d'Epigraphie Grecque et Latine</em>.
</p>

<p class="justified">In quella sede, al fine di una
    ottimizzazione delle attivit&agrave;, &egrave; stato deciso di comune accordo
    di assegnare ad ogni progetto &quot;federato&quot; un determinato ambito di
    competenza cos&igrave; suddiviso: </p>

<p class="justified"><strong><a
            href="http://www.uni-heidelberg.de/institute/sonst/adw/edh/index.html"
            target="_blank">EDH</a> </strong>:
    documentazione epigrafica dei territori delle province imperiali, con
    l'esclusione del territorio italiano; </p>

<p class="justified"><strong><a
            href="http://cisadu4a.let.uniroma1.it/panciera/" target="_blank">EDR</a> </strong>: documentazione epigrafica di Roma e
    del territorio italiano, con l'eccezione del materiale romano di committenza
    cristiana; </p>

<p class="justified"><strong>EDB </strong>: documentazione epigrafica di
    committenza cristiana della citt&agrave; di Roma, relativa sia alla edizione
    ICVR sia agli aggiornamenti.</p>

<p class="justified">- Dal 2007 (<i
        style='mso-bidi-font-style:normal'>13th International Congress of Greek and
        Latin Epigraphy,</i> Oxford, 2nd-8th September 2007) e pi&ugrave; decisamente
    dal novembre 2008 (in seguito al <span style='mso-bidi-font-style:italic'>Convegno
        Internazionale: <i style='mso-bidi-font-style:normal'>EAGLE - Electronic
            Archive of Greek and Latin Epigraphy - Epigrafia informatica e ricerca storica</i>
        (Roma, Accademia dei Lincei &#8211; Centro Interdisciplinare &#8220;Beniamino
        Segre&#8221;, 7-8 novembre 2008), relazione: <i style='mso-bidi-font-style:
                                                        normal'>EDB - Epigraphic Database Bari, stato del progetto, prospettive future,
            collaborazioni</i>. Cfr. <a
            href="http://www.edr-edr.it/Download/EAGLE-Testi.pdf">http://www.edr-edr.it/Download/EAGLE-Testi.pdf</a>,
        al punto I, 17) l&#8217;&eacute;quipe di EDB si &egrave; resa disponibile a
        collaborare per un &#8220;dialogo&#8221;
        con lo standard EpiDoc (Rouech&eacute;, Elliott, Bodard) per la
        sperimentazione di una modalit&agrave; di scambio dei dati strutturati nelle
        due diverse ma complementari ottiche delle base di dati e
        dell&#8217;Extended Markup Language. </p>

<p class="justified">- In questa direzione dal 2009
    ha avuto inizio una stabile collaborazione con il Dipartimento di Informatica
    dell&#8217;Universit&agrave; degli Studi di Bari (prof. Donato Malerba, dott.ssa
    Costantina Caruso, attuale responsabile tecnico-scientifica di EDB), che ha
    comportato una rielaborazione nel sito di EDB delle modalit&agrave; della ricerca
    (dott. Fabio Vitrugno) e una architettura della base di dati completamente
    ridisegnata (dott. Sergio Daddato), che prevede la convertibilit&agrave; delle
    trascrizioni -e non solo - dei dati di EDB secondo lo standard EpiDoc (aggiornato
    al maggio 2010). </p>

{% endblock %}


