<div class="modal hide" id="modalNewConservationContext">
	<div class="modal-header">
		{#<button type="button" class="close" data-dismiss="modal" onclick="$('#selectAreaPertinenza').val('0')">x</button>#}
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Add New Conservation Context</h3>
	</div>
	<div class="modal-body">
		<p>
			<form class="form-horizontal">
				<fieldset>
					<div id="divConservationContext" class="control-group">
						<label style="text-align: left" class="control-label">Description</label> 
						<div class="controls">
							<input id="inputConservationContextDescription" type="text" 
								onchange="$('#divConservationContext').attr('class', 'control-group'); $('#errorValConservationContext').html(null)">
							<p class="help-block" id="#errorValConservationContext"></p>
						</div>
					</div>
					<div class="control-group">
	      				<div class="controls">
							<a class="btn btn-primary" id="addConservationContext">Add</a>
						</div>
					</div>
				</fieldset>
			</form>
		</p>
		
	</div>
	
	<div class="modal-footer">
		{#<a href="#" class="btn" data-dismiss="modal" onclick="$('#selectAreaPertinenza').val('0')">Close</a>#}
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
	
</div>