{% extends '::base.html.twig' %}

 {% block title %}
 EDB History Page
{% endblock %}

{% block body %}
	
<h1>Curatori e collaboratori </h1>
<br />

<ul>


  <li>Carlo Carletti </li>

  <li>Antonio Enrico Felle</li>
  <li>Antonella Daniela Agostinelli</li>
  <li>Cristina Grisanzio</li>

  <li>Ruggero Lombardi</li>


  <li>Marida Pierno</li>

  <li>Miriam Ramunni</li>


  <li>Anita Rocco</li>

  <li>Domenico Schiraldi</li>


  <li>Carolina Ventura </li>


  <li>Vito Falco (responsabile tecnico 2004-2009)</li>

<li>Costantina Caruso (responsabile tecnico-scientifico dal 2009)</li>


</ul>

<p><strong>Carlo Carletti </strong>ha curato l'immissione delle
iscrizioni latine edite nei volumi ICVR III, V, VI, nonch&eacute; di
quelle relative al cimitero di Commodilla (editi in parte anche in
ICVR, II); <strong>Antonio Enrico Felle </strong>quella dei volumi IX,
X, di parti dei volumi II (con l'esclusione al momento del complesso
paolino) e IV (complesso callistiano: regione
di Cornelio e piani inferiori) nonch&eacute; l'immissione dell'intera
documentazione ICVR greca e bilingue (in tutto 3899 epigrafi). Al medesimo <strong>Antonio Enrico Felle </strong> si deve la revisione e l'aggiornamento dei documenti pertinenti al cimitero di Domitilla (ICVR, III) e della <i>memoria Apostolorum ad Catacumbas </i>(ICVR,V).&Egrave;
stata inoltre completata l'immissione dei materiali pertinenti ai
complessi cimiteriali di Novaziano e del <span style="font-style: italic;">coemeterium Lucinae</span> sull'Ostiense (dott. <strong>Anita Rocco</strong>), 
dei ss. Marco e Marcelliano e Damaso (dott. <strong>Cristina Grisanzio</strong>), della catacomba anonima della via Ardeatina (dott. <strong>Marida Pierno </strong>), di s. Agnese sulla Nomentana (dott. <strong>Carolina Ventura</strong>), di s. Ippolito sulla Tiburtina (dott.<span style="font-weight: bold;"> 
Domenico Schiraldi</span>), di s. Felicita sulla via Salaria&nbsp;(dott. <strong>Ruggero Lombardi</strong>). Sono in lavorazione le iscrizioni rivenienti da s. Lorenzo (dott. <span style="font-weight: bold;">Miriam Ramunni</span> ora in via di completamento con la  dott. <span style="font-weight: bold;">Antonella Daniela Agostinelli</span>).&nbsp; </p>

{% endblock %}


