{% extends '::base.html.twig' %}

 {% block title %}
 EDB History Page
{% endblock %}

{% block body %}
	
<h1>Stato Attuale</h1>
<p></p>
<p>
	&nbsp;Allo stato attuale in EDB sono presenti <strong>26164</strong>
	testi epigrafici, in massima parte elaborati sulla base della edizione
	ICVR, <em>nova series</em>: <strong>22265</strong> latini e <strong>3899</strong>
	greci (o con compresenza di greco e latino), provenienti essenzialmente
	dai contesti cimiteriali cristiani del suburbio romano.
</p>

<p>
	<a href="#inseriti">Materiali inseriti</a> - <a href="#noninseriti">Materiali
		ancora non presenti in EDB</a>
</p>

<h2>Sistemi di trascrizione</h2>
<p>
	Il <em>corpus</em> delle ICVR ha conservato con minime variazioni - per
	ragioni di omogeneit&agrave; editoriale - l'impostazione originaria,
	che prevedeva la trascrizione dei testi in maiuscoletto epigrafico o,
	quando non corredati da fotografia o grafico, in minuscolo tondo. La
	trascrizione dal testo-base ICVR nell' <strong>EDB </strong>, lungi
	dall'essere una mera operazione meccanica di immissione di dati, <em>consiste</em>
	<em>di fatto in una vera e propria pre-edizione</em>, con sistematico
	scioglimento delle abbreviazioni, ipotesi di integrazione e, quando
	possibile, aggiornamento dei testi.
</p>

<p>
	Fino al 1999, i testi sono stati trascritti dalla edizione ICVR secondo
	il sistema ecdotico adottato nei voll. I-X delle <em>Inscriptiones
		Christianae Italiae </em>(ICI), Edipuglia, Bari 1985-1995, con alcune
	modificazioni obbligate dalla prima versione del programma:
</p>

<ul>
	<li>non uso del punto sottoscritto</li>
	<li>non distinzione fra parti del medesimo testo ancora esistenti e
		quelle tr&agrave;dite soltanto da precedenti editori</li>
	<li>non uso del maiuscolo per lettere componenti parole non
		riconoscibili (l'uso dei caratteri maiuscoli &egrave; stato ristretto
		alle sole iniziali dei nomi propri, ivi compresi quelli geografici)</li>
	<li>uso del carattere &quot;@&quot; seguito dalla descrizione per
		indicare i singoli elementi costitutivi degli apparati figurativi</li>
	<li>fra parentesi quadre sono state comprese, ol&shy;tre le
		integrazioni probabili o ipotetiche, anche quelle &quot;sicure&quot;,
		in quanto parti della stessa epigrafe edite erroneamente sotto altro/i
		numero/i (<em>e.g. </em>ICVR, I 1347; VII 17548; VII 19864) o
		risultanti da altre pi&ugrave; aggiornate edizioni ( <em>e.g. </em>ICVR,
		VI 16915d)
	</li>
</ul>

<p>
	Successivamente, con l'adozione del sistema Unicode, &egrave; stato
	possibile l'impiego integrale del sistema ecdotico Krummrey-Panciera:
	pertanto in <strong>EDB </strong>allo stato attuale sono compresenti <i
		style='mso-bidi-font-style: normal'>due</i> sistemi ecdotici (ICI,
	modificato; Krummrey-Panciera). &Egrave; in via di progressiva
	esecuzione l'aggiornamento al sistema Krummrey-Panciera delle
	trascrizioni precedenti al 2001.
</p>

<h2>Materiali inseriti (le evidenziazioni indicano gli insiemi di
	epigrafi incompleti o ancora assenti)<a id=inseriti></a></h2> 
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>ICVR, vol.</th>
			<th>ICVR, nn.</th>
			<th>Contesto di Pertinenza</th>
			<th>Totale</th>
			<th>Latine</th>
			<th>Greche</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>1-4091</td>
			<td><i>incertae originis*</i></td>
			<td>364</td>
			<td>(193)</td>
			<td>364</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4092-4240</td>
			<td><i>basilica s. Petri apostoli</i></td>
			<td>160</td>
			<td>159</td>
			<td>1</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4241-4255</td>
			<td><i>coem. sub divo apud basilicam s. Petri apostoli </i></td>
			<td>17</td>
			<td>15</td>
			<td>2</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4256</td>
			<td><i>coemeteriolum in monte Ianiculo</i></td>
			<td>1</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4257-4267</td>
			<td><i>coemeteriolum anonymum ad viam Corneliam</i></td>
			<td>12</td>
			<td>10</td>
			<td>2</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4268-4463; 6466-6469</td>
			<td><i>coem. Octavillae ad s. Pancratium </i></td>
			<td>225</td>
			<td>196</td>
			<td>29</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4464-4479</td>
			<td><i>coem. Processi et Martiniani </i></td>
			<td>17</td>
			<td>15</td>
			<td>2</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4480-4486</td>
			<td><i>coem. ad duos Felices </i></td>
			<td>7</td>
			<td>7</td>
			<td>0</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4487-4498</td>
			<td><i>coem. Calepodii</i></td>
			<td>11</td>
			<td>11</td>
			<td>0</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4499</td>
			<td><i>basilica ss. Nazarii et Naboris</i></td>
			<td>1</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4500-4744; 6470-6472</td>
			<td><i>coem. Pontiani</i></td>
			<td>290</td>
			<td>270</td>
			<td>20</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4745-4746</td>
			<td><i>coem. s. Felicis</i></td>
			<td>2</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4747-4774</td>
			<td><i>coem. Generosae</i></td>
			<td>27</td>
			<td>26</td>
			<td>1</td>
		</tr>
		<tr>
			<td>2</td>
			<td>6460-6461</td>
			<td><i>via Ostiensis</i></td>
			<td>3</td>
			<td>3</td>
			<td>0</td>
		</tr>
		<tr>
			<td>2</td>
			<td>4775-5786; 6473-6475</td>
			<td><i>basilica s. Pauli apostoli; additamenta</i></td>
			<td>122</td>
			<td>1</td>
			<td>121</td>
		</tr>
		<tr>
			<td>2</td>
			<td>5787-5929</td>
			<td><i>area Lucinae</i></td>
			<td>242</td>
			<td>230</td>
			<td>12</td>
		</tr>
		<tr>
			<td>2</td>
			<td>5930-5993</td>
			<td><i>museum paulianum</i></td>
			<td>60</td>
			<td>46</td>
			<td>14</td>
		</tr>
		<tr>
			<td>2</td>
			<td>5994-6008</td>
			<td><i>coem. s. Theclae </i></td>
			<td>17</td>
			<td>16</td>
			<td>1</td>
		</tr>
		<tr>
			<td>2</td>
			<td>6009-6014</td>
			<td><i>coem. s. Zenonis</i></td>
			<td>7</td>
			<td>6</td>
			<td>1</td>
		</tr>
		<tr>
			<td>2</td>
			<td>6015</td>
			<td><i>coem. s. Cyriaci</i></td>
			<td>1</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>2</td>
			<td>6016-6459; 6476-6495</td>
			<td><i>coem. Commodillae</i></td>
			<td>571</td>
			<td>537</td>
			<td>34</td>
		</tr>
		<tr>
			<td>3</td>
			<td>8644-8715</td>
			<td><i>coem. Commodillae</i></td>
			<td>192</td>
			<td>183</td>
			<td>9</td>
		</tr>
		<tr>
			<td>3</td>
			<td>8716-9338</td>
			<td><i>tituli qui in coem. Callisti reperti traduntur</i></td>
			<td>625</td>
			<td>566</td>
			<td>59</td>
		</tr>
		<tr>
			<td>3</td>
			<td>6496-7374</td>
			<td><i>coem. Domitillae pars inferior (not in ICVR: 1)</i></td>
			<td>1637</td>
			<td>1447</td>
			<td>190</td>
		</tr>
		<tr>
			<td>3</td>
			<td>7375-8131</td>
			<td><i>coem. Domitillae pars superior</i></td>
			<td>1539</td>
			<td>1427</td>
			<td>112</td>
		</tr>
		<tr>
			<td>3</td>
			<td>8132-8414</td>
			<td><i>basilica ss. Nerei et Achillei in coem. Domitillae</i>
			</td>
			<td>588</td>
			<td>545</td>
			<td>43</td>
		</tr>
		<tr>
			<td>3</td>
			<td>8415-8638</td>
			<td><i>incertum locum in coem. Domitillae</i></td>
			<td>246</td>
			<td>227</td>
			<td>19</td>
		</tr>
		<tr>
			<td>4</td>
			<td>8639-8643</td>
			<td><i>inter vias Appiam et Ardeatinam</i></td>
			<td>39</td>
			<td>X</td>
			<td>39</td>
		</tr>
		<tr>
			<td>4</td>
			<td>12520-12872</td>
			<td><i>crypta s.Cornelii</i></td>
			<td>232</td>
			<td>185</td>
			<td>47</td>
		</tr>
		<tr>
			<td>1</td>
			<td>9367-9512</td>
			<td><i>coem. Callisti pars inferior </i>
			</td>
			<td>1</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>4</td>
			<td>9513-10232;10233-10538 10746-10807</td>
			<td><i>coem. Callisti pars inferior </i>
			</td>
			<td>1382</td>
			<td>980</td>
			<td>402</td>
		</tr>
		<tr>
			<td>4</td>
			<td>10808-10850</td>
			<td><i>coem. Callisti pars infima </i>
			</td>
			<td>7</td>
			<td>X</td>
			<td>7</td>
		</tr>
		<tr>
			<td>4</td>
			<td>10851-11075</td>
			<td><i>coem. Callisti pars superior </i>
			</td>
			<td>53</td>
			<td>X</td>
			<td>53</td>
		</tr>
		<tr>
			<td>5</td>
			<td>15424</td>
			<td><i>coem. Callisti pars superior</i></td>
			<td>1</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>4</td>
			<td>11076-11744</td>
			<td><i>coem. Callisti area subdialis</i></td>
			<td>73</td>
			<td>X</td>
			<td>73</td>
		</tr>
		<tr>
			<td>4</td>
			<td>11745-12239</td>
			<td><i>coem. anonymum ad viam Appiam</i></td>
			<td>897</td>
			<td>824</td>
			<td>73</td>
		</tr>
		<tr>
			<td>6</td>
			<td></td>
			<td><i>coem. anonymum ad viam Appiam</i></td>
			<td>143</td>
			<td>139</td>
			<td>4</td>
		</tr>
		<tr>
			<td>4</td>
			<td>12240-12415</td>
			<td><i>coem. anonymum ad viam Ardeatinam</i></td>
			<td>353</td>
			<td>320</td>
			<td>33</td>
		</tr>
		<tr>
			<td>4</td>
			<td>12416-12519</td>
			<td><i>area subdialis cis Callisti posita</i></td>
			<td>11</td>
			<td>X</td>
			<td>11</td>
		</tr>
		<tr>
			<td>6</td>
			<td>17298-17381</td>
			<td><i>area subdialis cis Callisti posita</i></td>
			<td>6</td>
			<td>5</td>
			<td>1</td>
		</tr>
		<tr>
			<td>4</td>
			<td>12520-12872; 12873-12888</td>
			<td><i>via Appia; additamenta</i></td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<td></td>
			<td>15413-15435</td>
			<td><i>via Appia</i></td>
			<td>73</td>
			<td>67</td>
			<td>6</td>
		</tr>
		<tr>
			<td>5</td>
			<td>12889-12906</td>
			<td><i>sepulchrum arenariae ad coem. Catacumbas</i></td>
			<td>21</td>
			<td>10</td>
			<td>11</td>
		</tr>
		<tr>
			<td>-</td>
			<td>not in ICVR</td>
			<td><i>memoria Apostolorum ad Catacumbas</i></td>
			<td>29</td>
			<td>27</td>
			<td>2</td>
		</tr>
		<tr>
			<td>5</td>
			<td>12907-13096</td>
			<td><i>memoria Apostolorum ad Catacumbas</i></td>
			<td>509</td>
			<td>403</td>
			<td>106</td>
		</tr>
		<tr>
			<td>2</td>
			<td>5932; 5983</td>
			<td><i>coem. subterraneum ad Catacumbas</i></td>
			<td>2</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<td>5</td>
			<td>13097-13272</td>
			<td><i>coem. subterraneum ad Catacumbas</i></td>
			<td>232</td>
			<td>221</td>
			<td>11</td>
		</tr>
		<tr>
			<td>2</td>
			<td>5981-5981; 5985</td>
			<td><i>coem. subdiale ad Catacumbas</i>
			</td>
			<td>3</td>
			<td>3</td>
			<td>0</td>
		</tr>
		<tr>
			<td>5</td>
			<td>13273-13870</td>
			<td><i>coem. subdiale ad Catacumbas</i></td>
			<td>1033</td>
			<td>970</td>
			<td>63</td>
		</tr>
		<tr>
			<td>5</td>
			<td>13871-15267</td>
			<td><i>coem. Praetextati</i></td>
			<td>2314</td>
			<td>2007</td>
			<td>307</td>
		</tr>
		<tr>
			<td>5</td>
			<td>15268-15320</td>
			<td><i>coem. ad Vibiam</i></td>
			<td>69</td>
			<td>67</td>
			<td>2</td>
		</tr>
		<tr>
			<td>5</td>
			<td>15321-15349</td>
			<td><i>coem. s. Crucis</i></td>
			<td>52</td>
			<td>49</td>
			<td>3</td>
		</tr>
		<tr>
			<td>5</td>
			<td>15350-15431</td>
			<td><i>coem. sub aedibus Schneider</i></td>
			<td>11</td>
			<td>11</td>
			<td>0</td>
		</tr>
		<tr>
			<td>6</td>
			<td>17382-17414</td>
			<td><i>via Latina</i></td>
			<td>147</td>
			<td>120</td>
			<td>27</td>
		</tr>
		<tr>
			<td>6</td>
			<td>15443-15500</td>
			<td><i>coem. ad vicum Aquae Marianae (ss.Gordiani et Epimachi)</i></td>
			<td>107</td>
			<td>104</td>
			<td>3</td>
		</tr>
		<tr>
			<td>6</td>
			<td>15501-15586</td>
			<td><i>coem. ad viam C. Correnti (scil. Aproniani ad s. Eugeniam)</i>
			</td>
			<td>149</td>
			<td>136</td>
			<td>13</td>
		</tr>
		<tr>
			<td>6</td>
			<td>15587-15660</td>
			<td><i>coem. in vinea Eustachiorum</i></td>
			<td>74</td>
			<td>65</td>
			<td>9</td>
		</tr>
		<tr>
			<td>6</td>
			<td>15661-15678</td>
			<td><i>coem. ad viam D. Compagni</i></td>
			<td>18</td>
			<td>18</td>
			<td>0</td>
		</tr>
		<tr>
			<td>6</td>
			<td>15679-15760</td>
			<td><i>coem. ad decimum</i></td>
			<td>90</td>
			<td>81</td>
			<td>9</td>
		</tr>
		<tr>
			<td>6</td>
			<td>15761-15893</td>
			<td><i>coem. Trebii Iusti</i></td>
			<td>16</td>
			<td>15</td>
			<td>1</td>
		</tr>
		<tr>
			<td>6</td>
			<td>15894-15936</td>
			<td><i>coem. Castuli</i></td>
			<td>45</td>
			<td>40</td>
			<td>5</td>
		</tr>
		<tr>
			<td>6</td>
			<td>15931-15933</td>
			<td><i>sepulchrum Aureliorum</i></td>
			<td>3</td>
			<td>3</td>
			<td>0</td>
		</tr>
		<tr>
			<td>6</td>
			<td>15937-17245</td>
			<td><i>coem. ss.Marcellini et Petri</i></td>
			<td>2332</td>
			<td>2043</td>
			<td>289</td>
		</tr>
		<tr>
			<td>6</td>
			<td>17246-17281</td>
			<td><i>coem. s.Zotici</i></td>
			<td>60</td>
			<td>59</td>
			<td>1</td>
		</tr>
		<tr>
			<td>6</td>
			<td>17282-17297</td>
			<td><i>via Praenestina</i></td>
			<td>15</td>
			<td>13</td>
			<td>2</td>
		</tr>
		<tr>
			<td>7</td>
			<td>20601-20692</td>
			<td><i>via Tiburtina</i></td>
			<td>5</td>
			<td>X</td>
			<td>5</td>
		</tr>
		<tr>
			<td>7</td>
			<td>17415-17604;<br> 17605-19761;<br>19878-19931;<br>19932-20692;<br>20693-20714
			</td>
			<td><i>coem. Cyriacae ad s. Laurentium; additamenta</i></td>
			<td>415</td>
			<td>240</td>
			<td>175</td>
		</tr>
		<tr>
			<td>7</td>
			<td>19932-20333; 20715</td>
			<td><i>coem. s. Hippolyti (not in ICVR: 3)</i></td>
			<td>665</td>
			<td>632</td>
			<td>33</td>
		</tr>
		<tr>
			<td>7</td>
			<td>20334-20600</td>
			<td><i>coem. Novatiani</i></td>
			<td>271</td>
			<td>233</td>
			<td>38</td>
		</tr>
		<tr>
			<td>8</td>
			<td>20716-20751</td>
			<td><i>coem. Nicomedis</i></td>
			<td>8</td>
			<td>X</td>
			<td>8</td>
		</tr>
		<tr>
			<td>8</td>
			<td>20752-21589</td>
			<td><i>coem. s. Agnetis</i></td>
			<td>1272</td>
			<td>1214</td>
			<td>58</td>
		</tr>
		<tr>
			<td>6</td>
			<td>17411</td>
			<td><i>coem. Maius</i></td>
			<td>1</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>8</td>
			<td>21590-22752;<br>22753-22910;<br>22911-22957
			</td>
			<td><i>coem. Maius</i></td>
			<td>260</td>
			<td>X</td>
			<td>260</td>
		</tr>
		<tr>
			<td>8</td>
			<td>22958-23055</td>
			<td><i>coem. s. Alexandri</i></td>
			<td>5</td>
			<td>X</td>
			<td>5</td>
		</tr>
		<tr>
			<td>8</td>
			<td>23056-23391</td>
			<td><i>inscriptiones priscillianae</i></td>
			<td>31</td>
			<td>X</td>
			<td>31</td>
		</tr>
		<tr>
			<td>9</td>
			<td>24310-24268</td>
			<td><i>coem. Iordanorum</i></td>
			<td>527</td>
			<td>485</td>
			<td>42</td>
		</tr>
		<tr>
			<td>9</td>
			<td>23751-24309</td>
			<td><i>coemeteria inter s.Felicitatem et viam Anapo</i></td>
			<td>610</td>
			<td>565</td>
			<td>45</td>
		</tr>
		<tr>
			<td>9</td>
			<td>24269-24827</td>
			<td><i>coem. ad viam Anapo</i></td>
			<td>234</td>
			<td>205</td>
			<td>29</td>
		</tr>
		<tr>
			<td>9</td>
			<td>24828-26311</td>
			<td><i>coem. Priscillae</i></td>
			<td>2118</td>
			<td>1768</td>
			<td>350</td>
		</tr>
		<tr>
			<td>8</td>
			<td>23392-23750</td>
			<td><i>coem. s.Felicitatis</i></td>
			<td>616</td>
			<td>594</td>
			<td>22</td>
		</tr>
		<tr>
			<td>10</td>
			<td>27254-27269</td>
			<td><i>via Salaria vetus</i></td>
			<td>14</td>
			<td>14</td>
			<td>0</td>
		</tr>
		<tr>
			<td>10</td>
			<td>26312-26548</td>
			<td><i>pars infima coem. Pamphili</i></td>
			<td>307</td>
			<td>261</td>
			<td>46</td>
		</tr>
		<tr>
			<td>10</td>
			<td>26549-26642</td>
			<td><i>pars media et superior coem. Pamphili</i></td>
			<td>112</td>
			<td>90</td>
			<td>22</td>
		</tr>
		<tr>
			<td>10</td>
			<td>26643-26660</td>
			<td><i>area subdialis coem. </i><i>Pamphili et inscriptiones incerto
					loco repertae</i>
			</td>
			<td>21</td>
			<td>19</td>
			<td>2</td>
		</tr>
		<tr>
			<td>10</td>
			<td>26661-27253</td>
			<td><i>coem. Bassillae ad s. Hermetem</i></td>
			<td>601</td>
			<td>542</td>
			<td>59</td>
		</tr>
		<tr>
			<td>10</td>
			<td>27666-27668</td>
			<td><i>via Flaminia</i></td>
			<td>3</td>
			<td>3</td>
			<td>0</td>
		</tr>
		<tr>
			<td>10</td>
			<td>27270-27665</td>
			<td><i>coem. et basilica s. Valentini</i></td>
			<td>482</td>
			<td>464</td>
			<td>18</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th colspan="3">Totale</th>
			<th>26164</th>
			<th>22265</th>
			<th>3899</th>
		</tr>
	</tfoot>

</table>

<p>
	* Delle epigrafi <i>incertae originis</i> (ICVR, I 1-4091), 418 sono
	riedite successivamente, sia nel medesimo volume I, sia essenzialmente
	nei volumi seguenti. Conseguentemente: delle 364 iscrizioni greche e/o
	bilingui di ICVR I, 27 ricompaiono nei volumi successivi, in quanto
	assegnate agli originari contesti di pertinenza. Delle restanti 391
	epigrafi latine ripubblicate nei volumi ICVR seguenti per la medesima
	ragione o per semplice errore, allo stato attuale ne sono presenti in
	EDB esattamente 193. Quindi in EDB sono schedate in realt&agrave; 557
	iscrizioni di ICVR, I, 364 greche e 193 latine.
</p>
<p>
	<a href="#top">[torna all'inizio della pagina]</a>

</p>

<h2>
	Materiali ancora non presenti in EDB <a id=noninseriti></a>
</h2>

<p>Attualmente non sono ancora inseriti nell'EDB i seguenti numeri ICVR
	(fatta eccezione per le epigrafi in scrittura greca, che sono invece
	tutte presenti):</p>

<table class="table table-striped table-bordered">
	<tr>
		<td>ICVR, vol.</td>
		<td>ICVR, nn.</td>
		<td>Contesto di pertinenza</td>
	</tr>
	<tr>
		<td>1</td>
		<td>1-4091</td>
		<td><i>incertae originis</i></td>
	</tr>
	<tr>
		<td>2</td>
		<td>6462-6465</td>
		<td><i>additamenta</i></td>
	</tr>
	<tr>
		<td>2</td>
		<td>4775-5786; 6473-6475</td>
		<td><i>basilica s. Pauli apostoli; additamenta</i>
		</td>
	</tr>
	<tr>
		<td>4</td>
		<td>10233-10538; 10746-10807</td>
		<td><i>coem. Callisti pars inferior</i>
		</td>
	</tr>
	<tr>
		<td>4</td>
		<td>10808-10850</td>
		<td><i>coem. Callisti pars infima</i>
		</td>
	</tr>
	<tr>
		<td>4</td>
		<td>10851-11075</td>
		<td><i>coem. Callisti pars superior</i>
		</td>
	</tr>
	<tr>
		<td>4</td>
		<td>11076-11744</td>
		<td><i>coem. Callisti area subdialis</i>
		</td>
	</tr>
	<tr>
		<td>4</td>
		<td>12520-12872; 12873-12888</td>
		<td><i>via Appia; additamenta</i>
		</td>
	</tr>
	<tr>
		<td>7</td>
		<td>20601-20692</td>
		<td><i>via Tiburtina</i>
		</td>
	</tr>
	<tr>
		<td>7</td>
		<td>17605-19761; 19878-19931; 20693-20714</td>
		<td><i>coem. Cyriacae ad s. Laurentium; additamenta</i>
		</td>
	</tr>
	<tr>
		<td>8</td>
		<td>20716-20751</td>
		<td><i>coem. Nicomedis</i>
		</td>
	</tr>
	<tr>
		<td>8</td>
		<td>21590-22752; 22911-22957</td>
		<td><i>coem. Maius</i>
		</td>
	</tr>
	<tr>
		<td>8</td>
		<td>22958-23055</td>
		<td><i>coem. s. Alexandri </i>
		</td>
	</tr>
	<tr>
		<td>8</td>
		<td>23056-23391</td>
		<td><i>inscriptiones priscillianae </i>
		</td>
	</tr>
	</tbody>

</table>


{% endblock %}


